<div class="page-header">
  <h1><%= @product.name %></h1>
</div>
<br>
<ul>
  <li><h6> Company: <%= @company.name + ' ' + @company.suffix %></h6></li>
  <li><h6> Price: $<%=@product.price.round(2) %></h6></li>
</ul>
<br>
<br>
<br>
<div class='page-header'>
  <h1> Product Reviews</h1>
</div>
<%= link_to 'New Product Review', new_product_product_review_path(@product) %>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Rating</th>
    <th>User</th>
  </tr>
  <tbody>
    <% @product_reviews.each do |product_review| %>
    <tr>
      <td><%= product_review.title %></td>
      <td><%= product_review.description %></td>
      <td><%= product_review.rating %></td>
      <td><%= User.find(product_review.user_id).name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
